<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find interiit22)/launch/world.launch">
    </include> -->
    <rosparam file="$(find prius_detector)/cfg/params.yaml" />

    <node pkg="prius_detector" type="prius_detector_node" name="prius_detector_node"       output="screen">
            
            <!-- <remap from="image_raw"    to="/depth_camera/depth/image_raw" /> -->
    </node>

</launch>